<ion-view view-title="Action Sheet">
  <ion-content padding="true">
    <h2>Action Sheet</h2>
    <div class="button button-block button-positive" ng-click="ctrl.show()">
      Apri Action Sheet
    </div>

    <img ng-show="ctrl.showDanger" class="image center" ng-src="img/danger.png"/>
  </ion-content>
</ion-view>