<ion-view view-title="Backdrop">
  <ion-content padding="true">
    <h2>Backdrop</h2>
    <div class="button button-block button-positive" ng-click="ctrl.action()">
      Backdrop
    </div>

    <img class="image center" ng-src="img/Batman.png"/>
  </ion-content>
</ion-view>