<ion-view view-title="Content">
  <ion-content padding="true">

    <ion-refresher
      pulling-text="Rilascia per aggiornare"
      on-refresh="ctrl.doRefresh()">
    </ion-refresher>

    <h2>Content</h2>
  </ion-content>
</ion-view>