<ion-view view-title="Form Input">
  <ion-content padding="true">
    <h2>Form Input</h2>

    <div class="item item-divider">
      Eroi
    </div>

    <ion-checkbox ng-repeat="hero in ctrl.heroes"
                      ng-model="hero.checked" 
                      ng-checked="hero.checked">
          {{ hero.name }}
    </ion-checkbox>

    <div class="item">
      <pre ng-bind="ctrl.heroes | json"></pre> 
    </div>

    <div class="item item-divider">
      Cattivo Selezionato: {{ ctrl.selectedVillain || "n/a"}}
    </div>

    <ion-radio ng-repeat="villain in ctrl.villains"
               ng-value="villain.id"
               ng-model="ctrl.selectedVillain">
      {{ villain.name }}
    </ion-radio>

    <div class="item item-divider">
      Condizioni ambientali
    </div>

    <ion-toggle ng-repeat="environmentSetting in ctrl.environmentSettings" ng-model="environmentSetting.checked" toggle-class="toggle-assertive">
      {{ environmentSetting.name}}
    </ion-toggle>
    <div class="item">
      <pre ng-bind="ctrl.environmentSettings | json"></pre> 
    </div>


  </ion-content>
</ion-view>