<ion-view view-title="Infinite Scroll">
  <ion-content padding="true">
    <ion-list>
      <ion-item collection-repeat="item in ctrl.items">
        {{item}}
      </ion-item>
    </ion-list>

    <ion-infinite-scroll
      ng-if="ctrl.moreDataCanBeLoaded"
      spinner="lines"
      on-infinite="ctrl.loadMoreItems()">
    </ion-infinite-scroll>

  </ion-content>
</ion-view>