<ion-view view-title="Loading">
  <ion-content padding="true">
    <h2>Loading</h2>
    <div ng-show="ctrl.showImage" class="list card">
      <div class="item item-image">
        <img class="image center" ng-src="img/Spiderman.png"/>
      </div>
    </div>
  </ion-content>
</ion-view>