<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/welcome">
          Welcome
        </ion-item>
        <ion-item menu-close href="#/app/action_sheet">
          Action Sheet
        </ion-item>
        <ion-item menu-close href="#/app/backdrop">
          Backdrop
        </ion-item>
        <ion-item menu-close href="#/app/content">
          Content
        </ion-item>
        <ion-item menu-close href="#/app/form_input">
          Form Input
        </ion-item>
        <ion-item menu-close href="#/app/list">
          List
        </ion-item>
        <ion-item menu-close href="#/app/loading">
          Loading
        </ion-item>
        <ion-item menu-close href="#/app/modal">
          Modal
        </ion-item>
        <ion-item menu-close href="#/app/infinite_scroll">
          Infinite Scroll
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
