<ion-view view-title="Modal">
  <ion-content padding="true">
    <h2>Modal</h2>
    <div class="button button-balanced" ng-click="ctrl.openModal()">Apri modale</div>
  </ion-content>
</ion-view>

<script id="test-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Test Modal</h1>
    </ion-header-bar>
    <ion-content>
      <div class="list card">
      <div class="item item-image">
        <img class="image center" ng-src="img/Daredevil.png"/>
      </div>
    </div>
    <div class="button button-assertive" ng-click="ctrl.closeModal()">Chiudi modale</div>
    </ion-content>
  </ion-modal-view>
</script>